<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Github Search</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Repositories</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>


<div class="card" style = "text-align:left">

  
  <div class="row">
    <div class="card" id="bar">
      <h3>Github Search</h3>
    <app-search-form (addUser)="addNewUser($event)"></app-search-form>
  </div>
  </div>
</div>
<div class="card">
  <ul>
    <li appHighlight>{{user.name}}</li> 
    <li appHighlight>{{user.email}}</li>
    <li>{{user.followers}}</li>
    <li>{{user.following}}</li>
  </ul>
</div>